venv
.venv
./venv
telemetry.csv
Flight_2024ASI-CANSAT0032.csv
Flight_2024ASI-ROCKETRY016.csv
map.html
finalised
.vscode
application/user_interface/__pycache__
application/core/__pycache__
application/__pycache__
application/build
