# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts (PyInstaller)
build/
dist/
*.spec

# Telemetry output files
*.csv
telemetry.csv

# Map outputs
*.html
map.html

# IDE files
.vscode/

# Temporary folders
finalised/

# Logs
*.log

# Executables
*.exe